@inherits LayoutComponentBase

<PageTitle>ASLTranslate</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
 
        <div class="top-row px-4">
            <img src="https://it.gwu.edu/sites/g/files/zaxdzs2826/f/downloads/Teams%20web%20Logo.png" style="height: 2.5rem" />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
